.text-d{
    text-decoration: underline;
}

.padding{
    padding: 5px 0px 5px 0px;
}

.fonts{
    font-family: Arial, Helvetica, sans-serif;
}

.nav-d{
    box-shadow: none;
}

/* .padd{
    margin: 10% 10% 10% 10%;
} */

.line{
    line-height: 30px;
    word-spacing: 15px;
}

.padd{
    padding: 1% 1% 1% 5%;
}

 .styling {
  padding-top: 10%;  
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
}

.style {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.design{
    position: absolute;
    top: 330%;
    left: 0%;
}

.slider{
    height: 100%;
    margin-bottom: 10% !important;
}

ul img{
    height: 100% !important;
}

.padds{
    padding: 1% 20% 1% 20%;
}

.box-shadow{
    box-shadow: 2px 2px 4px black;
}

.box-shadow:hover{
    box-shadow: 3px 3px 6px rgb(74, 66, 66);
}

.pads{
  padding-top: 25%;
}

.font{
   font-size: 50px;
   font-weight: bold;
}

h6{
    font-size: 20px;
    font-weight: bold;
}

.styles{
    height: 200px !important;
}

.padd-d{
    padding: 10% 10% 10% 10%;
}

.dark-blue{
    background-color: darkblue;
}

.margin{
    margin: 1% 1% 1% 10%;
    /* padding: 10% 10% 10% 10%; */
}

footer div{
    padding: 5% 10% 1% 10%;
}

.designs{
    position: absolute;
    top: 620%;
    left: 0%;
}

.div{
    margin-top: 12%;
    padding: 8% 0% 1% 0%;
}

.fs{
    font-size: 30px;
}

.pad-top{
    padding-top: 1% !important;
}


.font-s{
    font-size: 20px;
    font-weight: 700;
}

.btns{
    padding: 0% 35% 0% 35%;
    box-shadow: none !important;
}

.space{
    padding: 5% 0% 10% 0%;
}

.btns:hover{
    background-color: #000000 !important;
    color: #ffffff !important;
}